[Unit]
Description=nginx
After=docker.service
After=autorun.service
After=php.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop nginx
ExecStartPre=-/usr/bin/docker kill nginx
ExecStartPre=-/usr/bin/docker rm nginx
ExecStart=/usr/bin/docker run --name nginx --link mysql:mysql --link php:php -p 80:80 -p 443:443 -v /home/core/data/nginx:/etc/nginx -v /home/core/data/www:/www ivories/nginx:1.0
ExecStop=/usr/bin/docker kill nginx

[Install]
WantedBy=multi-user.target
