[Unit]
Description=shadowsocks-client
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill shadowsocks-client
ExecStartPre=-/usr/bin/docker rm shadowsocks-client
ExecStart=/usr/bin/docker run --name shadowsocks-client -p 192.168.56.101:1080:1080 -e SERVER_PORT=8388 -e PASSWORD=shadowsocks-client ivories/shadowsocks-client ss-local  -s "123.123.123.123" \
              -p "123" \
              -b "127.0.0.1"  \
              -l "1080"  \
              -m "aes-256-cfb"      \
              -k "ivories"    \
              -t "60"     \
              -u           \
              --fast-open

ExecStop=/usr/bin/docker kill shadowsocks-client

[Install]
WantedBy=multi-user.target
