[Unit]
Description=%p
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop %p
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStart=/usr/bin/docker run --name %p -p 6666:6666 -v /home/core/data/%p:/root dreamacro/clash
ExecStop=/usr/bin/docker stop %p
ExecStop=/usr/bin/docker kill %p

[Install]
WantedBy=multi-user.target

