[Unit]
Description=bitcoin
After=autorun.service
Requires=autorun.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop bitcoin
ExecStartPre=-/usr/bin/docker kill bitcoin
ExecStartPre=-/usr/bin/docker rm bitcoin
ExecStart=/usr/bin/docker run -v /home/core/data/bitcoin:/root/.bitcoin --name=bitcoin --net=host ivories/bitcoin
ExecStop=/usr/bin/docker stop bitcoin

[Install]
WantedBy=multi-user.target

