[Unit]
Description=eos
After=autorun.service
Requires=autorun.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop eos
ExecStartPre=-/usr/bin/docker kill eos
ExecStartPre=-/usr/bin/docker rm eos

ExecStart=/usr/bin/docker run --name=eos -p 10011:80 -v /home/core/data/wallet/eos/wallet:/root/eosio-wallet -v /home/core/data/eos:/eosio -v /home/core/data/eos/config.ini:/config.ini ivories/eos /bin/bash -c "nodeos --plugin eosio::producer_plugin --plugin eosio::chain_api_plugin --plugin eosio::history_plugin --plugin eosio::history_api_plugin --plugin eosio::http_plugin  -d /eosio/generator_node --config-dir /eosio/generator_node --genesis-json /eosio/generator_node/genesis.json --delete-all-blocks --http-server-address=0.0.0.0:8888 --access-control-allow-origin=* --http-validate-host=false --filter-on='*'"

ExecStop=/usr/bin/docker stop eos

[Install]
WantedBy=multi-user.target
