[Unit]
Description=baidu
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop baidu
ExecStartPre=-/usr/bin/docker kill baidu
ExecStartPre=-/usr/bin/docker rm baidu
ExecStart=/usr/bin/docker run --name baidu -p 5299:5299 -v /home/core/data/baidu:/root/Downloads -v /home/core/data/baidu/.config:/root/.config/BaiduPCS-Go ivories/baidu /opt/BaiduPCS/BaiduPCS-Go
ExecStop=/usr/bin/docker stop baidu
ExecStop=/usr/bin/docker kill baidu

[Install]
WantedBy=multi-user.target

