[Unit]
Description=git
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill git
ExecStartPre=-/usr/bin/docker rm git
ExecStartPre=/usr/bin/docker pull ivories/git:1.0
ExecStart=/usr/bin/docker run  --name git -p 33:22 -v /home/core/data/git:/git -v /home/core/data/ssh:/root/.ssh ivories/git
ExecStop=/usr/bin/docker kill git

[Install]
WantedBy=multi-user.target
