[Unit]
Description=php
After=docker.service
After=autorun.service
After=mysql.service
After=redis.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill php
ExecStartPre=-/usr/bin/docker rm php
ExecStartPre=/usr/bin/docker pull ivories/php:1.0
ExecStart=/usr/bin/docker run --name php --link redis:redis --link mysql:mysql -v /home/core/data/php:/php -v /home/core/data/www:/www ivories/php:1.0
ExecStop=/usr/bin/docker kill php

[Install]
WantedBy=multi-user.target
