[Unit]
Description=etc
After=autorun.service
Requires=autorun.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop etc
ExecStartPre=-/usr/bin/docker kill etc
ExecStartPre=-/usr/bin/docker rm etc
ExecStart=/usr/bin/docker run --name=etc -v /home/core/data/etc:/root ivories/etc --ipcdisable
ExecStop=/usr/bin/docker stop etc

[Install]
WantedBy=multi-user.target

