[Unit]
Description=tensorflow
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop tensorflow
ExecStartPre=-/usr/bin/docker kill tensorflow
ExecStartPre=-/usr/bin/docker rm tensorflow
ExecStart=/usr/bin/docker run --name=tensorflow -p 8888:8888 --gpus all -v /home/core/data:/home/core/data ivories/tensorflow
ExecStop=/usr/bin/docker stop tensorflow
ExecStop=/usr/bin/docker kill tensorflow

[Install]
WantedBy=multi-user.target
