[Unit]
Description=gluster
After=autorun.service
Requires=autorun.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop gluster
ExecStartPre=-/usr/bin/docker kill gluster
ExecStartPre=-/usr/bin/docker rm gluster
ExecStart=/usr/bin/docker run --name gluster --net=host --privileged=true -v /home/core/data1:/gluster -v /home/core/data/gluster/init.sh:/init.sh ivories/gluster:1.0 /init.sh
ExecStop=/usr/bin/docker stop gluster
ExecStop=/usr/bin/docker kill gluster

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true

