[Unit]
Description=vnc
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop vnc
ExecStartPre=-/usr/bin/docker kill vnc
ExecStartPre=-/usr/bin/docker rm vnc
ExecStart=/usr/bin/docker run --name=vnc -p 56080:80 -v /home/core/data:/data -e RESOLUTION=800x768 -e VNC_PASSWORD=yellow -e USER=core -e PASSWORD=yellow dorowu/ubuntu-desktop-lxde-vnc
ExecStop=/usr/bin/docker stop vnc
ExecStop=/usr/bin/docker kill vnc

[Install]
WantedBy=multi-user.target

