[Unit]
Description=nsq
After=autorun.service
Requires=autorun.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop nsq
ExecStartPre=-/usr/bin/docker kill nsq
ExecStartPre=-/usr/bin/docker rm nsq
ExecStartPre=-/home/core/docker/shell/install_fleetctl nsq
ExecStartPre=-/usr/bin/docker network create nginx-network
ExecStart=/usr/bin/docker run --name nsq --net nginx-network ivories/nsq
ExecStop=/usr/bin/docker stop nsq
ExecStop=/usr/bin/docker kill nsq

[Install]
WantedBy=multi-user.target

